<a href="https://colab.research.google.com/github/hananafis03/Data-Science-Project/blob/main/Amazon_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.patches as patches
import seaborn as sns

In [ ]:
data = pd.read_csv ('/content/Amazon Sales data (1).csv')

In [ ]:
data.head()

In [ ]:
data.shape

(100, 14)

In [ ]:
data.describe()

,Order ID,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
count,1.000000e+02,100.000000,100.000000,100.000000,1.000000e+02,1.000000e+02,1.000000e+02
mean,5.550204e+08,5128.710000,276.761300,191.048000,1.373488e+06,9.318057e+05,4.416820e+05
std,2.606153e+08,2794.484562,235.592241,188.208181,1.460029e+06,1.083938e+06,4.385379e+05
min,1.146066e+08,124.000000,9.330000,6.920000,4.870260e+03,3.612240e+03,1.258020e+03
25%,3.389225e+08,2836.250000,81.730000,35.840000,2.687212e+05,1.688680e+05,1.214436e+05
50%,5.577086e+08,5382.500000,179.880000,107.275000,7.523144e+05,3.635664e+05,2.907680e+05
75%,7.907551e+08,7369.000000,437.200000,263.330000,2.212045e+06,1.613870e+06,6.358288e+05
max,9.940222e+08,9925.000000,668.270000,524.960000,5.997055e+06,4.509794e+06,1.719922e+06

In [ ]:
coloumns = list(data)
coloumns

In [ ]:
data.isnull().sum()

In [ ]:
plt.figure(figsize = (10,6))

sns.boxplot(data=data, y='Area')
plt.show()

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          100 non-null    object
 1   Country         100 non-null    object
 2   Item Type       100 non-null    object
 3   Sales Channel   100 non-null    object
 4   Order Priority  100 non-null    object
 5   Order Date      100 non-null    object
 6   Order ID        100 non-null    int64
 7   Ship Date       100 non-null    object
 8   Units Sold      100 non-null    int64
 9   Unit Price      100 non-null    float64
 10  Unit Cost       100 non-null    float64
 11  Total Revenue   100 non-null    float64
 12  Total Cost      100 non-null    float64
 13  Total Profit    100 non-null    float64
dtypes: float64(5), int64(2), object(7)
memory usage: 11.1+ KB

In [ ]:
#Heatmap showing correlation between elements in the dataset
new = data.drop(columns=['Region', 'Country','Sales Channel','Order Priority', 'Order Date','Order ID','Ship Date'], axis = 1).set_index('Item Type')
new.head()
plt.figure(figsize = (10,6))
sns.heatmap(new.corr(), annot = True, linewidth = 1)
plt.title("Heatmap showing correlation between elements in the dataset")
plt.show()

In [ ]:
#Time series graph showing total revenue yearly analysis
plt.figure(figsize = (10,6))
data['date'] = pd.to_datetime(data['Order Date'])
data['year'] = data['date'].dt.year
yearly_analysis = data.groupby('year')['Total Revenue'].sum()
yearly_analysis.plot(kind='line', color='brown')
plt.title("Yearly Analysis of Total Revenue")
plt.xlabel('Years')
plt.ylabel('Total Revenue')
plt.show

In [ ]:
#Time series graph showing total profit yearly analysis
plt.figure(figsize = (10,6))
data['date'] = pd.to_datetime(data['Order Date'])
data['year'] = data['date'].dt.year
yearly_analysis = data.groupby('year')['Total Profit'].sum()
yearly_analysis.plot(kind='line', color='gray')
plt.title("Yearly Analysis of Total Profit")
plt.xlabel('Years')
plt.ylabel('Total Profit')
plt.show

In [ ]:
#Time series graph showing total Cost yearly analysis
plt.figure(figsize = (10,6))
data['date'] = pd.to_datetime(data['Order Date'])
data['year'] = data['date'].dt.year
yearly_analysis = data.groupby('year')['Total Cost'].sum()
yearly_analysis.plot(kind='line', color='gold')
plt.title("Yearly Analysis of Total Cost")
plt.xlabel('Years')
plt.ylabel('Total Cost')
plt.show

In [ ]:
#Bar Graph for items sold on the basis of sales channel
plt.figure(figsize = (15,6))
sns.barplot(data=data, x=data['Item Type'], y =data['Units Sold'], hue=data['Sales Channel'], errorbar = None)
plt.title("Analysis of items sold on the basis of sales channel")
plt.xlabel('ITEM TYPE')
plt.ylabel('COUNT')
plt.show()

In [ ]:
#Bar Graph for items sold on the basis of order priority
plt.figure(figsize = (15,6))
sns.barplot(data=data, x=data['Item Type'], y =data['Units Sold'], hue=data['Order Priority'], errorbar = None)
plt.title("Analysis of items sold on the basis of order priority")
plt.xlabel('ITEM TYPE')
plt.ylabel('COUNT')
plt.show()

In [ ]:
#Pie Chart for region wise sales
plt.figure(figsize = (10,6))
sums = data.groupby(data['Region'])['Units Sold'].sum()
plt.pie(sums, labels=sums.index, autopct='%.2f')
plt.title("REGION WISE SALES")
plt.show

In [ ]:
#Pie Chart for item type sales
plt.figure(figsize = (10,6))
sums = data.groupby(data['Item Type'])['Units Sold'].sum()
plt.pie(sums, labels=sums.index, autopct='%.2f')
plt.title("ITEM TYPE SALES")
plt.show

In [ ]:
#Histogram of Units Sold
plt.figure(figsize = (10,6))
median = round(data['Units Sold'].median())
mean = round(data['Units Sold'].mean())

sns.histplot(data=data, x='Units Sold', color='orange', edgecolor='linen', alpha =0.5, bins=5)
plt.title("Histogram of Units Sold")
plt.xlabel('Units Sold')
plt.ylabel('Count')
plt.vlines(mean, ymin = 0, ymax = 30, color ='red', label="Mean")
plt.vlines(median, ymin = 0, ymax = 30, color ='green', label="Median")
plt.legend()
plt.show()

In [ ]:
#Distance plot of Unit Price
plt.figure(figsize = (10,6))

sns.distplot(x=data['Unit Price'], color='purple')
plt.title("Histogram of Unit Price")
plt.xlabel('Unit Price')
plt.ylabel('Count')
plt.show()

In [ ]:
#Distance plot of Unit Cost
plt.figure(figsize = (10,6))

sns.distplot(x=data['Unit Cost'], color='indigo')
plt.title("Histogram of Unit Cost")
plt.xlabel('Unit Cost')
plt.ylabel('Count')
plt.show()